/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.bar-parent {
  position: relative;
  overflow-x: clip;
}

.bar-first {
  height: 109px;
  width: 100%;
  background: rgb(177, 109, 234);
  background: linear-gradient(
    101deg,
    rgba(177, 109, 234, 1) 8%,
    rgba(219, 72, 126, 1) 41%,
    rgba(250, 170, 38, 1) 92%
  );
  position: absolute;
}

.bar {
  display: flex;
  justify-content: center;
  height: 96px;
  width: 110%;
  background-color: black;
  align-items: center;
  transform: skewY(-2deg) translateX(-50px);
}

.bar-content {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-weight: 700;
  font-size: 1.55rem;
  color: beige;
  width: 100%;
  gap: 4rem;
}

.space {
  height: 5rem;
}
